.row
  .col-xs-12
    %h1
      {{ product.name }}
      %small {{ product.number }}
.row.text-center
  .col-xs-6.col-sm-2
    %h4 YTD Sales
    %h1 {{ dashboard.sales }}
  .col-xs-6.col-sm-3
    %h4 Current Inventory
    %h1 {{ dashboard.inventory }}
  .col-xs-6.col-sm-2
    %h4 YTD Shipments
    %h1 {{ dashboard.shipments }}
  .col-xs-6.col-sm-2
    %h4 Stores
    %h1 {{ stores.length }}
  .col-xs-6.col-sm-3
    %h4 Last Updated
    %h1 {{ dashboard.last_updated_on }}
%hr
.row
  .col-xs-12
    %h3 Sales by Day
    %p.help-block Daily growth ex: Tuesday / Last Tuesday
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th Days Ago
          %th Date
          %th Sales (units)
          %th Shipment (units)
          %th Growth
      %tbody
        %tr{ "ng-repeat" => "inventory in inventories" }
          %td {{ inventory.quantity }}
          %td {{ inventory.lcbo_updated_on }}
          %td {{ inventory.sales }}
          %td {{ inventory.shipment }}
          %td
