.row
  .col-xs-12
    %h1 Stores
.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %th Number
        %th Store Class
        %th Address
        %th City
        %th View
      %tbody
        %tr{ "ng-repeat" => "store in stores" }
          %td {{ store.number }}
          %td {{ store.store_class_id }}
          %td {{ store.address }}
          %td {{ store.city }}
          %td
            %a.btn.btn-primary{:href => "#/stores/{{ store.id }}"} View
