.row
  .col-xs-12
    %h1 Stores
.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %th Number
        %th Store Class
        %th Address
        %th City
        %th View
      %tbody
        %tr
          %td 1
          %td AAA
          %td 2625D Weston Road
          %td North York
          %td View
