.row
  .col-xs-12
    %h1
      Store #21
      %small North
.row
  .col-xs-12.col-sm-4
    %label Store Name
    %p Golf Links &amp; Hwy 403
    %label Store class
    %p AA
    %label Address
    %p 737 Golf Links Road, Meadowlands Centre
    %label City
    %p Ancaster
    %label Postal code
    %p L9K1L5
    %label Description:
    %p None
  .col-xs-12.col-sm-4
    %h4 Contact Info
    %label Phone
    %p
      %a{:href => "tel:905-304-9608"} (905) 304-9608
    %label Sales rep name
    %p None
    %label Manager name
    %p Blair Kemp
    %label Manager email
    %p
      %a{:href => "mailto:blair.kemp@lcbo.com"} blair.kemp@lcbo.com
    %p
%hr
.row
  .col-xs-12
    %h3 Store Visits
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Visitor
          %th Visit Date
          %th Comments
          %th Product Tasting
          %th Photos
      %tbody
        %tr
          %td 146
          %td Cam McDonald
          %td 2015-05-05
          %td Spoke to Anne (Jonathon at managers meeting) and Jonathon is off Wednesday next week. Need to call him to see if a tasting would be ok.
          %td
          %td
            %img.img-responsive{:src => "http://www.ucarecdn.com/a8065062-3f55-4220-90e0-e5b861faa1e6/-/scale_crop/60x60/center "}
