.row
  .col-xs-12
    %h1
      Store # {{ store.number }}
.row
  .col-xs-12.col-sm-4
    %label Store Name
    %p {{ store.name }}
    %label Store class
    %p {{ store.store_class_id }}
    %label Address
    %p {{ store.address }}
    %label City
    %p {{ store.city }}
    %label Postal code
    %p {{ store.postal_code }}
  .col-xs-12.col-sm-4
    %h4 Contact Info
    %label Phone
    %p
      %a{:href => "tel:{{ store.phone }}"} {{ store.phone }}
%hr
.row
  .col-xs-12
    %h3 Store Visits
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Visitor
          %th Visit Date
          %th Comments
          %th Product Tasting
          %th Photos
      %tbody
        %tr
          %td 146
          %td Cam McDonald
          %td 2015-05-05
          %td Spoke to Anne (Jonathon at managers meeting) and Jonathon is off Wednesday next week. Need to call him to see if a tasting would be ok.
          %td
          %td
            %img.img-responsive{:src => "http://www.ucarecdn.com/a8065062-3f55-4220-90e0-e5b861faa1e6/-/scale_crop/60x60/center "}
