!!! 5
%html{ :lang => "en", "ng-app" => "LiquorCrmWeb" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport" }
    %title Liquor CRM
    %link{ :href => "/assets/favicon.png", :rel => "icon" }
    %link{ :href => "/assets/application.css", :rel => "stylesheet" }
  %body
    .container
      %h1 AngularJS Seed
      %ul.nav.nav-pills
        %li
          %a{ :href => "#/stores" } Stores
        %li
          %a{ :href => "#/stores/1" } Store
        %li
          %a{ :href => "#/products" } Products
        %li
          %a{ :href => "#/products/1" } Product
      %hr/
      %div{ "ng-view" => "" }
      %div
        Liquor CRM
        %span{ "app-version" => "" }
    %script{ :src => "/assets/application.js" }
